@font-face {
  font-family: 'Helvetica_neueregular';
  src: url('../fonts/helveticaneue-medium-webfont.eot');
  src: url('../fonts/helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-medium-webfont.woff2') format('woff2'), url('../fonts/helveticaneue-medium-webfont.woff') format('woff'), url('../fonts/helveticaneue-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Novecento_sans_widedemibold';
  src: url('../fonts/Novecentosanswide-DemiBold-webfont.eot');
  src: url('../fonts/Novecentosanswide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'), url('../fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff'), url('../fonts/Novecentosanswide-DemiBold-webfont.ttf') format('truetype'), url('../fonts/Novecentosanswide-DemiBold-webfont.svg#novecento_sans_widedemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.ba-container,
.ba-container-center {
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
  height: auto;
}
/* Text align */
.ba-text-left {
  text-align: left;
}
.ba-text-right {
  text-align: right;
}
.ba-text-center {
  text-align: center;
}
/* Floats */
.ba-float-left {
  float: left;
}
.ba-float-right {
  float: right;
}
.ba-float-none {
  float: none;
}
/* Vertical align */
.ba-vertical-align:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
[class*="ba-vertical-align-"] {
  display: inline-block;
}
.ba-vertical-align-top {
  vertical-align: top;
}
.ba-vertical-align-middle {
  vertical-align: middle;
}
.ba-vertical-align-bottom {
  vertical-align: bottom;
}
/* Absolute centering */
.ba-relative {
  position: relative;
}
.ba-absolute-center {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* Circle element */
.ba-circle {
  border-radius: 50%;
}
/*== Grid ==*/
/* Grid clearfix */
.ba-grid:before,
.ba-grid:after {
  content: " ";
  display: table;
}
.ba-grid:after {
  clear: both;
}
.ba-grid + .ba-grid {
  margin-top: 20px;
}
[class*="ba-width-"] {
  width: 100%;
}
.ba-grid > [class*="ba-width-"] {
  float: left;
  padding-left: 20px;
}
.ba-grid {
  margin-left: -20px;
}
/* No Padding Grid */
.ba-grid-nopad {
  margin-left: 0;
}
.ba-grid-nopad + .ba-grid-nopad {
  margin-top: 0;
}
.ba-grid-nopad > [class*="ba-width-"] {
  padding-left: 0;
}
.ba-width-1-2,
.ba-width-2-4,
.ba-width-3-6 {
  width: 50%;
}
.ba-width-1-3,
.ba-width-2-6 {
  width: 33.333%;
}
.ba-width-2-3,
.ba-width-4-6 {
  width: 66.667%;
}
.ba-width-1-4 {
  width: 25%;
}
.ba-width-3-4 {
  width: 75%;
}
.ba-width-1-5 {
  width: 20%;
}
.ba-width-2-5 {
  width: 40%;
}
.ba-width-3-5 {
  width: 60%;
}
.ba-width-4-5 {
  width: 80%;
}
.ba-width-1-6 {
  width: 16.667%;
}
.ba-width-5-6 {
  width: 83.333%;
}
.ba-width-1-7 {
  width: 14.2857%;
}
.ba-width-1-8 {
  width: 12.5%;
}
.ba-width-1-9 {
  width: 11.1111%;
}
.ba-width-1-10 {
  width: 10%;
}
/* Phone landscape and bigger */
@media (min-width: 480px) {
  .ba-float-left-small {
    float: left;
  }
  .ba-float-right-small {
    float: right;
  }
  /* Whole */
  .ba-width-small-1-1 {
    width: 100%;
  }
  /* Halves */
  .ba-width-small-1-2,
  .ba-width-small-2-4,
  .ba-width-small-3-6 {
    width: 50%;
  }
  /* Thirds */
  .ba-width-small-1-3,
  .ba-width-small-2-6 {
    width: 33.333%;
  }
  .ba-width-small-2-3,
  .ba-width-small-4-6 {
    width: 66.666%;
  }
  /* Quarters */
  .ba-width-small-1-4 {
    width: 25%;
  }
  .ba-width-small-3-4 {
    width: 75%;
  }
  /* Fifths */
  .ba-width-small-1-5 {
    width: 20%;
  }
  .ba-width-small-2-5 {
    width: 40%;
  }
  .ba-width-small-3-5 {
    width: 60%;
  }
  .ba-width-small-4-5 {
    width: 80%;
  }
}
/* Tablet and bigger */
@media (min-width: 768px) {
  .ba-float-left-medium {
    float: left;
  }
  .ba-float-right-medium {
    float: right;
  }
  /* Whole */
  .ba-width-medium-1-1 {
    width: 100%;
  }
  /* Halves */
  .ba-width-medium-1-2,
  .ba-width-medium-2-4,
  .ba-width-medium-3-6 {
    width: 50%;
  }
  /* Thirds */
  .ba-width-medium-1-3,
  .ba-width-medium-2-6 {
    width: 33.333%;
  }
  .ba-width-medium-2-3,
  .ba-width-medium-4-6 {
    width: 66.666%;
  }
  /* Quarters */
  .ba-width-medium-1-4 {
    width: 25%;
  }
  .ba-width-medium-3-4 {
    width: 75%;
  }
  /* Fifths */
  .ba-width-medium-1-5 {
    width: 20%;
  }
  .ba-width-medium-2-5 {
    width: 40%;
  }
  .ba-width-medium-3-5 {
    width: 60%;
  }
  .ba-width-medium-4-5 {
    width: 80%;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
  .ba-float-left-large {
    float: left;
  }
  .ba-float-right-large {
    float: right;
  }
  /* Whole */
  .ba-width-large-1-1 {
    width: 100%;
  }
  /* Halves */
  .ba-width-large-1-2,
  .ba-width-large-2-4,
  .ba-width-large-3-6 {
    width: 50%;
  }
  /* Thirds */
  .ba-width-large-1-3,
  .ba-width-large-2-6 {
    width: 33.333%;
  }
  .ba-width-large-2-3,
  .ba-width-large-4-6 {
    width: 66.666%;
  }
  /* Quarters */
  .ba-width-large-1-4 {
    width: 25%;
  }
  .ba-width-large-3-4 {
    width: 75%;
  }
  /* Fifths */
  .ba-width-large-1-5 {
    width: 20%;
  }
  .ba-width-large-2-5 {
    width: 40%;
  }
  .ba-width-large-3-5 {
    width: 60%;
  }
  .ba-width-large-4-5 {
    width: 80%;
  }
}
@media (min-width: 1220px) {
  .ba-float-left-xlarge {
    float: left;
  }
  .ba-float-right-xlarge {
    float: right;
  }
  /* Whole */
  .ba-width-xlarge-1-1 {
    width: 100%;
  }
  /* Halves */
  .ba-width-xlarge-1-2,
  .ba-width-xlarge-2-4,
  .ba-width-xlarge-3-6 {
    width: 50%;
  }
  /* Thirds */
  .ba-width-xlarge-1-3,
  .ba-width-xlarge-2-6 {
    width: 33.333%;
  }
  .ba-width-xlarge-2-3,
  .ba-width-xlarge-4-6 {
    width: 66.666%;
  }
  /* Quarters */
  .ba-width-xlarge-1-4 {
    width: 25%;
  }
  .ba-width-xlarge-3-4 {
    width: 75%;
  }
  /* Fifths */
  .ba-width-xlarge-1-5 {
    width: 20%;
  }
  .ba-width-xlarge-2-5 {
    width: 40%;
  }
  .ba-width-xlarge-3-5 {
    width: 60%;
  }
  .ba-width-xlarge-4-5 {
    width: 80%;
  }
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  font: 400 14px/1.57 'Helvetica_neueregular', Arial, sans-serif;
  color: #8a8888;
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
}
a:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  cursor: url(../img/cursor.png), pointer;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
  padding: 15px 20px;
  color: #FFF;
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
  background-color: #2ecc71;
  text-decoration: none;
  text-transform: uppercase;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
  background-color: #ffffff;
  color: #2ECC71;
  border: 1px solid #2ECC71;
}
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus,
.ba-button:focus {
  outline: none;
  position: relative;
  top: 1px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
}
/* Layout */
.ba-container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 960px;
}
.ba-social-row {
  padding: 25px 0;
  border-bottom: 2px solid #dadada;
}
.ba-socials a {
  text-decoration: none;
}
.ba-socials .ba-social {
  fill: #dadada;
  transition: fill 0.3s ease-in;
}
.ba-socials .ba-social__dribbble:hover {
  fill: orange;
}
.ba-socials .ba-social__tw:hover {
  fill: #00bbf5;
}
.ba-socials .ba-social__fb:hover {
  fill: #3b5998;
}
.ba-socials .ba-social__gl:hover {
  fill: #DB4437;
}
.ba-socials .ba-social__pint:hover {
  fill: #BD081C;
}
.ba-socials .ba-social__rss:hover {
  fill: #FC7700;
}
.ba-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 25px 0;
}
.ba-menu li {
  float: left;
  padding-left: 20px;
}
.ba-menu li:first-child {
  padding-left: 0;
}
.ba-menu li a {
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #737373;
  text-decoration: none;
}
.ba-menu li a:hover {
  color: #2ecc71;
}
.ba-menu li .ba-menu__active {
  color: #2ecc71;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.ba-slider {
  max-height: 525px;
  background: green url("../img/slider/slider1/slider-bg.jpg") no-repeat 50%;
  background-size: cover;
}
.ba-slide__image img {
  margin: 0 auto;
  margin-top: 100px;
}
.ba-slider__projects {
  margin-top: 30px;
  margin-bottom: 30px;
}
.ba-slider__projects .ba-slide__img {
  outline: none;
}
.ba-slider__projects .ba-slide__img img {
  padding-left: 20px;
}

.ba-slider__projects .slick-slide:not(.slick-center) {
  opacity: 0.5;
}
.ba-slider__description {
  margin: 0 auto;
  max-width: 540px;
  padding: 0 30px;
}
.ba-slider__description .ba-slide__descr {
  text-align: center;
  outline: none;
}
.ba-slider__description .ba-slide__descr h3 {
  font-size: 18px;
  color: #8A8888;
  text-transform: uppercase;
}
.ba-slider__description .slick-arrow {
  position: absolute;
  background: none;
  background: no-repeat 50%;
  border: none;
  top: 50%;
  z-index: 2;
  font-size: 0;
  width: 25px;
  height: 30px;
  outline: none;
}
.ba-slider__description .slick-prev {
  left: 0;
  background-image: url(../img/home/righr-arrow.png);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.ba-slider__description .slick-next {
  right: 0;
  background-image: url(../img/home/righr-arrow.png);
}
.ba-browse {
  padding: 110px 0 50px;
  text-align: center;
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
}
.ba-browse .ba-browse__textfield {
  max-width: 780px;
  margin: 0 auto;
}
.ba-browse h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #AEADAD;
  line-height: 1.5;
}
.ba-videoblock {
  padding: 35px 0;
  background-color: #efefef;
}
.ba-videoblock .ba-videoblock__textfield {
  margin-left: 10px;
  width: 55%;
}
.ba-videoblock .ba-videoblock__textfield h2 {
  text-transform: uppercase;
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
  margin-top: 0;
}
.ba-videoblock .ba-videoblock__video {
  width: 40%;
  padding-top: 10px;
}
@media (max-width: 959px) {
  .ba-videoblock .ba-videoblock__textfield,
  .ba-videoblock .ba-videoblock__video {
    float: none;
    width: 100%;
  }
  .ba-videoblock .ba-videoblock__video {
    margin: 0 auto;
  }
}
.ba-projects {
  padding: 40px 0;
}
.ba-projects__textfield {
  max-width: 740px;
  margin: 0 auto;
  text-align: center;
}
.ba-projects__textfield h2 {
  text-transform: uppercase;
  color: #8A8888;
  font-size: 24px;
}
.ba-findout {
  padding: 50px 0;
  background-color: #322f2f;
}
.ba-findout h2 {
  float: left;
  text-transform: uppercase;
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
  font-size: 24px;
  color: #FFF;
  margin-top: 7px;
}
.ba-findout .ba-button__footer {
  float: right;
}
.ba-copyright {
  padding: 20px 0;
}
.ba-copyright .ba-copyright__title {
  float: left;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5;
  color: #a5a5a5;
  margin-top: 0;
  margin-bottom: 0;
}
.ba-copyright .ba-footer__menu {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
.ba-copyright .ba-footer__menu li {
  float: left;
  padding-left: 10px;
  position: relative;
}
.ba-copyright .ba-footer__menu li:first-child a:after {
  display: none;
}
.ba-copyright .ba-footer__menu li a {
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding-left: 10px;
  text-transform: uppercase;
  color: #a5a5a5;
  text-decoration: none;
  position: relative;
}
.ba-copyright .ba-footer__menu li a:after {
  content: "";
  height: 20px;
  background-color: #a5a5a5;
  width: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
}
.ba-copyright .ba-footer__menu li a:hover {
  color: #2ecc71;
}
.ba-slogan {
  padding: 5px 0;
  background-color: #2ecc71;
}
.ba-slogan h2 {
  font-size: 30px;
  color: #ffffff;
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
  text-transform: uppercase;
}
.ba-categories {
  padding: 20px 0;
}
.ba-works {
  text-align: center;
  padding-bottom: 25px;
  margin-left: -20px;
  margin: 0 auto;
}
.ba-works .ba-gallery {
  float: left;
  width: 30%;
  margin-left: 20px;
  margin-bottom: 20px;
}
.ba-works .ba-work {
  position: relative;
  display: block;
}
.ba-works .ba-work img {
  display: block;
  width: 100%;
  transition: opacity 0.3s ease-in;
}
.ba-works .ba-work:before {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  background: #2ecc71 url(../img/link.png) 50% no-repeat;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  z-index: 2;
  transition: opacity 0.3s ease-in, -webkit-transform 0.5s ease-in;
  transition: opacity 0.3s ease-in, transform 0.5s ease-in;
  transition: opacity 0.3s ease-in, transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
.ba-works .ba-work:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.ba-works .ba-work:hover img {
  opacity: 0.5;
}
@media (max-width: 759px) {
  .ba-works .ba-gallery {
    width: 45%;
  }
}
@media (max-width: 480px) {
  .ba-works .ba-gallery {
    width: 90%;
  }
}
/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}
#swipebox-overlay img {
  border: none !important;
}
#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#swipebox-container {
  position: relative;
  width: 100%;
  height: 100%;
}
#swipebox-slider {
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
  cursor: pointer;
}
#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide .swipebox-inline-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
#swipebox-slider .slide-loading {
  background: url(../img/work/img/loader.gif) no-repeat center center;
}
#swipebox-bottom-bar,
#swipebox-top-bar {
  transition: 0.5s;
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}
#swipebox-bottom-bar {
  bottom: -50px;
}
#swipebox-bottom-bar.visible-bars {
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
}
#swipebox-top-bar {
  top: -50px;
}
#swipebox-top-bar.visible-bars {
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
#swipebox-title {
  display: block;
  width: 100%;
  text-align: center;
}
#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-image: url(../img/work/img/icons.png);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0;
}
#swipebox-arrows {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
}
#swipebox-prev {
  background-position: -32px 13px;
  float: left;
}
#swipebox-next {
  background-position: -78px 13px;
  float: right;
}
#swipebox-close {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  background-position: 15px 12px;
}
.swipebox-no-close-button #swipebox-close {
  display: none;
}
#swipebox-prev.disabled,
#swipebox-next.disabled {
  opacity: 0.3;
}
.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
  -webkit-animation: rightSpring 0.3s;
  animation: rightSpring 0.3s;
}
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
  -webkit-animation: leftSpring 0.3s;
  animation: leftSpring 0.3s;
}
.swipebox-touch #swipebox-container:before,
.swipebox-touch #swipebox-container:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .3s ease;
  content: ' ';
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0;
}
.swipebox-touch #swipebox-container:before {
  left: 0;
  box-shadow: inset 10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-container:after {
  right: 0;
  box-shadow: inset -10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
  opacity: 1;
}
.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
  opacity: 1;
}
@-webkit-keyframes rightSpring {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@keyframes rightSpring {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@keyframes leftSpring {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@media screen and (min-width: 800px) {
  #swipebox-close {
    right: 10px;
  }
  #swipebox-arrows {
    width: 92%;
    max-width: 800px;
  }
}
/* Skin
--------------------------*/
#swipebox-overlay {
  background: #0d0d0d;
}
#swipebox-bottom-bar,
#swipebox-top-bar {
  text-shadow: 1px 1px 1px black;
  background: #000;
  opacity: 0.95;
}
#swipebox-top-bar {
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}
.ba-button-group .ba-button {
  background-color: #fff;
  outline: none;
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;
  text-transform: uppercase;
  color: #8A8888;
  border: none;
  position: relative;
}
.ba-button-group .ba-button:after {
  content: "";
  height: 20px;
  background-color: #8A8888;
  width: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
}
.ba-button-group .ba-button:first-child:after {
  display: none;
}
.ba-button-group .ba-checked {
  color: #2ecc71;
}
.ba-map {
  height: 500px;
  background: gray;
}
.ba-contact {
  padding: 45px 0 50px;
}
.ba-contact-form {
  display: block;
}
.ba-contact-form h4 {
  font-size: 22px;
  color: #8a8888;
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.ba-contact-form input.ba-form__text,
.ba-contact-form input.ba-form__email,
.ba-contact-form input.ba-form__subject {
  display: block;
  width: 56%;
  height: 43px;
  padding-left: 17px;
  margin-bottom: 17px;
  border: 2px solid #8a8888;
}
.ba-contact-form input.ba-form__text:focus,
.ba-contact-form input.ba-form__email:focus,
.ba-contact-form input.ba-form__subject:focus {
  outline: none;
}
.ba-contact-form .ba-form__textarea {
  display: block;
  width: 90%;
  height: 220px;
  border: 2px solid #8a8888;
  margin-bottom: 17px;
  padding-left: 17px;
  padding-top: 15px;
}
.ba-contact-form .ba-form__textarea:focus {
  outline: none;
}
@media (min-width: 768px) {
  .ba-contact-form {
    float: left;
    width: 60%;
  }
}
.ba-contact-info {
  display: block;
}
.ba-contact-info h4 {
  font-size: 22px;
  color: #8a8888;
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.ba-contact-info p span {
  font-weight: bold;
}
.ba-contact-info .ba-contact__email {
  margin-bottom: 0;
}
.ba-contact-info .ba-contact__email a {
  text-decoration: none;
  color: #2ecc71;
}
.ba-contact-info .ba-contact__phone {
  margin-top: 0;
}
.ba-contact-info p.ba-contact__address1 {
  margin-bottom: 0;
}
.ba-contact-info p.ba-contact__address2 {
  margin-top: 0;
}
.ba-contact-info .ba-schedule p {
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .ba-contact-info {
    float: right;
    width: 30%;
  }
}
.ba-general {
  padding: 50px 0;
}
.ba-general .ba-general__text {
  width: 56.25%;
}
.ba-general .ba-general__img {
  width: 40%;
}
@media (max-width: 959px) {
  .ba-general .ba-general__text,
  .ba-general .ba-general__img {
    float: none;
    width: 100%;
  }
}
.ba-mission {
  padding-bottom: 50px;
}
.ba-mission h4 {
  font-size: 24px;
  font-family: 'Novecento_sans_widedemibold', Arial, sans-serif;
  color: #8a8888;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.ba-mission .ba-mission-statement {
  width: 48%;
}
.ba-mission .ba-fun-facts {
  width: 48%;
}
@media (max-width: 767px) {
  .ba-mission .ba-mission-statement,
  .ba-mission .ba-fun-facts {
    float: none;
    width: 100%;
  }
  .ba-mission .ba-mission-statement {
    padding-bottom: 20px;
  }
}
.ba-services {
  background-color: #efefef;
}
.ba-services .ba-services__item {
  text-align: center;
  height: 200px;
}
.ba-services .ba-services__item a {
  text-decoration: none;
}
.ba-services .ba-services__item a h4 {
  margin-bottom: 0;
  padding-bottom: 50px;
  text-transform: uppercase;
  color: #737373;
}
.ba-services .ba-services__item a .ba-services__img .cls-1 {
  fill: #737373;
}
.ba-services .ba-services__item:hover {
  background-color: #dadada;
}
.ba-services .ba-services__item:hover h4 {
  color: #423E3E;
}
.ba-services .ba-services__item:hover .ba-services__img .cls-1 {
  fill: #423e3e;
}
.ba-listblock {
  padding: 11px 0 45px;
}
.ba-listblock ul.ba-laistblock__list {
  padding: 0;
  margin: 0;
  margin-left: 18px;
  padding-left: 18px;
}
.ba-listblock ul.ba-laistblock__list li {
  list-style-image: url(../img/about/bullet.png);
}
.ba-listblock ul.ba-laistblock__list li p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
